UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
KAKAO_REST_API_KEY=
KAKAO_REDIRECT_URI=http://localhost:3000/api/auth/kakao/callback
TOSS_SECRET_KEY=
NEXT_PUBLIC_TOSS_CLIENT_KEY=
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@k-padel-arena.com
